<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment.html :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
<form th:action="@{forgotPassword}" id="form"  method="post" class="p-5  col-4">
    <div th:if="${emailFound == null}">
        <input type="email" id="email" name="email"   class="form-control" placeholder="enter your email">
    </div>
    <b id="error"></b>
    <div th:if="${emailFound != null}" >
        <input type="text" id="code" name="code" class="form-control m-1"  placeholder="enter your reset code">
        <input hidden type="email" name="email" class="form-control"  th:value="${emailFound}" >
    </div>
    <input type="submit" class="btn btn-success m-2" value="send">
</form>
<script>
    const email = document.getElementById("email")
    const code = document.getElementById("code")
    const form = document.getElementById("form")
    const error = document.getElementById("error")
    form.addEventListener('submit',(e)=>{
        let messages = [];
        if(email.value === '' || email.value == null){
            messages.push('email is required')
        }
        if(code.value === '' || code.value == null){
            messages.push('code is required')
        }
        if(messages.length >0){
            e.preventDefault()
            error.innerText = messages.join(',')
        }else{
            error.innerText = '';
        }
    })
</script>
</div>
</body>
</html>