<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment.html :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:replace="fragment.html :: navbar"></div>
    <h1 id="error">Update Employee</h1>
    <form th:action="@{/userUpdate}" id="form" th:object="${UserDTO}" class="offset-3 col-3" enctype="multipart/form-data"  method="post">
        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{name}" id="name" th:value="${userModel.name}" placeholder="enter name" class="form-control col-4 mb-4"><br>


        <input type="text" th:field="*{email}" id="email" th:value="${userModel.email}" placeholder="enter email" class="form-control col-4 mb-4"><br>

        <input type="password" th:field="*{password}" id="password" th:value="${userModel.password}" placeholder="enter password" class="form-control col-4 mb-4"><br>

        <select  th:field="*{role}" class="form-control col-4 mb-4">
            <option th:if="${#ctx.session.loginUserRole =='ADMIN'}" th:selected="${userModel.role == 'ADMIN'}" value="ADMIN">ADMIN</option>
            <option th:selected="${userModel.role == 'USER'}" value="USER">USER</option>
        </select>
       <div> <img  style="width: 120px; height: 100px;"  th:src="@{'data:image/jpeg;base64,'+${encodeString}}"  alt="image" ></div>
        <input type="file" id="photo" th:field="*{photo}" placeholder="choose photo" size="50" class="form-control col-4 mb-4" /><br>

       <div class="card"> <input type="submit" value="Update" class="btn btn-primary">
           <input type="submit" value="back" th:href="@{/login}" class="btn btn-danger"></div>
    </form>
    <script th:replace="fragment.html :: script1"></script>
    <script th:replace="fragment.html :: script2"></script>
    <script th:replace="fragment.html :: script3"></script>
</div>
<script th:replace="fragment.html :: script1"></script>
<script th:replace="fragment.html :: script2"></script>
<script th:replace="fragment.html :: script3"></script>
<script th:replace="fragment.html :: script4"></script>
<script>


const form = document.getElementById("form")
const userName = document.getElementById("name")
const userEmail = document.getElementById("email")
const userPassword = document.getElementById("password")
const userConfirmPassword = document.getElementById("confirmPassword")
const photo = document.getElementById("photo")
const error = document.getElementById("error")
form.addEventListener('submit',(e)=>{
   let messages = []
   let regax = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

   if(userName.value === '' || userName.value == null){
       messages.push('Name is required')
   }

   if(userEmail.value === '' || userEmail.value == null ){
       messages.push('Email is required')
   }

   if( !regax.test(userEmail.value)){
       messages.push('Email must be in email format')
   }

   if(userConfirmPassword.value != userPassword.value){
    messages.push('password not match')
   }

   if(userPassword.value === '' || userPassword.value == null){
       messages.push('Password is required')
   }

   if(userPassword.value.length <10){
       messages.push('Password must be at least ten characters')
   }

   if(photo.value === '' || photo.value == null){
       messages.push('Profile picture is required')
   }

   if(messages.length>0){
       e.preventDefault()
       error.innerText = messages.join(',')
   }else {
       error.innerText = ''; // Clear error message if no validation errors
   }
})
</script>
</body>
</html>